// Main App Styles

.bg-brand {
  background-color: #ef2840 !important;
}

.custom-title {
  color: #ef2840 !important;
}

	// .card-deck group like .card-group but cards are not connected
	.card-deck {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.card-deck .card {
		margin-bottom: 15px
	}

	@media (min-width: 576px) {
		.card-deck {
			-ms-flex-flow:row wrap;
			flex-flow: row wrap;
			margin-right: -15px;
			margin-left: -15px;
		}

		.card-deck .card {
			display: -ms-flexbox;
			display: flex;
			-ms-flex: 1 0 0%;
			flex: 1 0 0%;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-right: 15px;
			margin-bottom: 0;
			margin-left: 15px
		}
	}

// Importing the Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";
