// Main App Styles

.bg-brand {
  background-color: #FC0E36 !important;
}
.bg-brand-alt {
  background-color: #ef2840 !important;
}

.custom-title {
  color: #ef2840 !important;
}

.disabled {
  pointer-events: none;
}

button[hovercolor="white"]:hover {
  path {
    transition: color 2s ease-out;
    fill: #fff !important;
  } 
}

svg {
  &.fill-white {
     fill: #fff !important;
    & path {
        fill: #fff !important;
    } 
  }
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff2f7;
    border-radius: .375rem;
    box-shadow: "0 0.75rem 1.5rem rgba(18,38,63,.03)";
}

.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}

// Flickity carousel custom, also borrowed stylkes from iFood
.carousel {
  width: 100%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.carousel__slide {
  width: 100%;
}

.carousel-cell {
  width: 421px;
  height: 200px;
  margin-right: 10px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.highlights-carousel__container {
    display: flex;
    flex-direction: column;
}

.highlights-carousel__figure {
    height: 140px;
    margin: 0;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .highlights-carousel__figure {
      height: 200px;
  }
}

.highlights-carousel__figure img {
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: none;
    transform: none;
}

@media only screen and (min-width: 960px) {
  .highlights-carousel__figure img {
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transform: none;
      transform: none;
  }
}

// .card-deck group like .card-group but cards are not connected
.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow:row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px
  }
}


// 
// Badge status - store opening hours
// apply .opening status to badge, js tweaks does the rest
//

%badge-circle-before, .badge-circle-before {
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c0ccda;
        margin: 0 .4rem 0 auto;
    }
}

.badge-status {
    color: #273444;
    background-color: #f8f8fb;

    &:before {
        @extend %badge-circle-before;
        @extend %flashing;
    }

    &.is-opened {
        &:before {
            background-color: #36b37e;
            box-shadow: 0 0 0 #36b37e;
        }
    }

    &.is-closed {
        &:before {
            background-color: #f91942;
            box-shadow: 0 0 0 #ef2840;
        }
    }

}

.badge-status-opened {
    color: #36b37e;
    background-color: #d7f0e5;

    &:before {
        @extend %badge-circle-before;
        background-color: #36b37e;
        box-shadow: 0 0 0 #36b37e;
        @extend %flashing;
    }

}

.badge-status-closed {
    color: #fc4349;
    background-color: #fed9db;

    &:before {
        @extend %badge-circle-before;
        background-color: #f91942;
        box-shadow: 0 0 0 #ef2840;
        @extend %flashing;
    }
}

// Importing the Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// iFood styles
@import "./src/styles/Ifood";

// Animation custom
@import "./src/styles/Animations";
