// Main App Styles

.bg-brand {
  background-color: #ef2840 !important;
}

.custom-title {
  font-weight: 800;
  color: red !important;
}

// Importing the Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";
