//
// App Main Styles
//

//
// Custom Containers
//
.stores-card__container {
    padding: 0 20px;
}

@media only screen and (min-width: 960px) {
  .stores-card__container {
    width: 100%;
    max-width: 1366px !important;
    margin: auto;
    padding: 0 30px;
  }
}

.bg-brand {
  background-color: #FC0E36 !important;
}
.bg-brand-alt {
  background-color: #ef2840 !important;
}

.custom-title {
  color: #ef2840 !important;
}

.disabled {
  pointer-events: none;
}

button[hovercolor="white"]:hover {
  path {
    transition: color 2s ease-out;
    fill: #fff !important;
  } 
}

svg {
  &.fill-white {
     fill: #fff !important;
    & path {
        fill: #fff !important;
    } 
  }
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff2f7;
    border-radius: .375rem;
    box-shadow: "0 0.75rem 1.5rem rgba(18,38,63,.03)";
}

.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}

//
// Text Transformations
//
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

// Flickity carousel custom, also borrowed stylkes from iFood
.carousel {
  width: 100%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

//
// Card prices
//

// Food item price

.preco-box {
    text-align: center;
    color: #8d97ad;
    user-select: none;
    bottom: 0;
    
    .preco {
        display: block;
        align-self: center;
    }

    .tamanho-preco {
        display: block;
        color: #32325d;
        font-weight: 700;
    }
}

// .card-deck group like .card-group but cards are not connected
.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow:row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px
  }
}

//
// Resets
//

a:hover {
    color: #FC0E36;
    text-decoration: none !important;
}

button {
  text-decoration: none;
}
button[bg]:hover {
  svg {
    path {
      fill: #fff;
    }
  }
}

// 
// Badge status - store opening hours
// apply .opening status to badge, js tweaks does the rest
//

%badge-circle-before, .badge-circle-before {
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c0ccda;
        margin: 0 .4rem 0 auto;
    }
}

.badge-status {
    color: #273444;
    background-color: #f8f8fb;

    &:before {
        @extend %badge-circle-before;
        @extend %flashing;
    }

    &.is-opened {
        &:before {
            background-color: #36b37e;
            box-shadow: 0 0 0 #36b37e;
        }
    }

    &.is-closed {
        &:before {
            background-color: #f91942;
            box-shadow: 0 0 0 #ef2840;
        }
    }

}

.badge-status-opened {
    color: #36b37e;
    background-color: #d7f0e5;

    &:before {
        @extend %badge-circle-before;
        background-color: #36b37e;
        box-shadow: 0 0 0 #36b37e;
        @extend %flashing;
    }

}

.badge-status-closed {
    color: #fc4349;
    background-color: #fed9db;

    &:before {
        @extend %badge-circle-before;
        background-color: #f91942;
        box-shadow: 0 0 0 #ef2840;
        @extend %flashing;
    }
}

// Importing the Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// iFood styles
@import "./src/styles/Ifood";

// Animation custom
@import "./src/styles/Animations";
