//
// App Main Styles
//

//
// Custom Containers
//
.stores-card__container {
    padding: 0 20px;
}

@media only screen and (min-width: 960px) {
  .stores-card__container {
    width: 100%;
    max-width: 1366px !important;
    margin: auto;
    padding: 0 30px;
  }
}

//
// Restaurants (stores) Cards
//

.store-card--closed {
    background: #f6f5f5 !important;
    opacity: 0.7;
}
.store-card--closed .restaurant-name {
    color: #666565;
}

.marmita-minitag--grayscale {
    background-color: #f5f0eb;
    color: #a6a5a5;
}

//
// Restaurant simple card 
//
.restaurant-card-empty-icon {
    display: inline-block;
    position: relative;
}

.restaurant-card-empty-icon svg {
    width: 100%;
    height: 100%;
}

.restaurant-simple-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 19px 20px 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    min-width: 83vw;
}

.restaurant-simple-card .restaurant-logo-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

@media only screen and (min-width: 960px) {
    .restaurant-simple-card .restaurant-logo-container {
        width: 60px;
        min-width: 60px;
        height: 60px;
    }
}

.restaurant-simple-card .restaurant-logo-container--placeholder {
    background-color: #dbdad9;
}

.restaurant-simple-card .restaurant-logo-container--placeholder svg {
    color: #fff;
    fill: #fff;
}

.restaurant-simple-card .restaurant-logo {
    max-height: 100%;
}

.restaurant-simple-card .restaurant-info-container {
    text-align: left;
    flex-grow: 1;
    padding-left: 20px;
    overflow: hidden;
}

.restaurant-simple-card .restaurant-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    font-weight: 400;
    color: #717171;
    font-size: 1rem;
    justify-content: space-between;
    align-items: baseline;
    min-width: 0;
}

.restaurant-simple-card .restaurant-delivery-time {
    font-weight: 300;
    color: #a6a5a5;
    font-size: 0.875rem;
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.restaurant-recent-list .restaurant-simple-card {
    min-width: 260px;
}

@media only screen and (max-width: 767px) {
    .restaurant-recent-list .restaurant-simple-card {
        width: 80vw;
    }
}

@media only screen and (min-width: 960px) {
    .restaurant-simple-card .restaurant-delivery-time {
        font-size: 0.875rem;
        line-height: 1.375em;
    }
}

.restaurant-simple-card .restaurant-tag {
    margin-top: 2px;
}

.restaurant-simple-card--closed {
    background: #f6f5f5;
    opacity: 0.7;
}

.restaurant-simple-card--closed .restaurant-logo {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.restaurant-simple-card--closed .restaurant-name {
    color: #666565;
}



//
// Section paddings
//
.slice {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.slice-xs {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &.slice-sm {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &.slice-md {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &.slice-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

    &.slice-xl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

}

.container-pb {
    padding-bottom: 1.5rem;
}
.container-pt {
  padding-top: 1.5rem;
}
// Containers padding bottom until reaching 768px
@media only screen and (min-width: 768px) {

  .container-pb {
     padding-bottom: 3.5rem;
  }
  .container-pt {
    padding-top: 3.5rem;
  }

}

.bg-brand {
  background-color: #FC0E36 !important;
}
.bg-brand-alt {
  background-color: #ef2840 !important;
}

.custom-title {
  color: #ef2840 !important;
}

.disabled {
  pointer-events: none;
}

button[hovercolor="white"]:hover {
  path {
    transition: color 2s ease-out;
    fill: #fff !important;
  } 
}

svg {
  &.fill-white {
     fill: #fff !important;
    & path {
        fill: #fff !important;
    } 
  }
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff2f7;
    border-radius: .375rem;
    box-shadow: "0 0.75rem 1.5rem rgba(18,38,63,.03)";
}

.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}

//
// Text Transformations
//
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

// Flickity carousel custom, also borrowed stylkes from iFood
.carousel {
  width: 100%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

//
// Card prices
//

// Food item price

.preco-box {
    text-align: center;
    color: #8d97ad;
    user-select: none;
    bottom: 0;
    
    .preco {
        display: block;
        align-self: center;
    }

    .tamanho-preco {
        display: block;
        color: #32325d;
        font-weight: 700;
    }
}

//
// Resets
//

// ifood button resets
.btn:hover {
  &.btn--default {
    color: #fff !important;
  }
}

a:hover {
    color: #FC0E36;
    text-decoration: none !important;
}

button {
  text-decoration: none;
}
button[bg]:hover {
  svg {
    path {
      fill: #fff;
    }
  }
}

// 
// Badge status - store opening hours
// apply .opening status to badge, js tweaks does the rest
//

%badge-circle-before, .badge-circle-before {
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c0ccda;
        margin: 0 .4rem 0 auto;
    }
}

.badge-status {
    color: #273444;
    background-color: #f8f8fb;

    &:before {
        @extend %badge-circle-before;
        @extend %flashing;
    }

    &.is-opened {
        &:before {
            background-color: #36b37e;
            box-shadow: 0 0 0 #36b37e;
        }
    }

    &.is-closed {
        &:before {
            background-color: #f91942;
            box-shadow: 0 0 0 #ef2840;
        }
    }

}

.badge-status-opened {
    color: #36b37e;
    background-color: #d7f0e5;

    &:before {
        @extend %badge-circle-before;
        background-color: #36b37e;
        box-shadow: 0 0 0 #36b37e;
        @extend %flashing;
    }

}

.badge-status-closed {
    color: #fc4349;
    background-color: #fed9db;

    &:before {
        @extend %badge-circle-before;
        background-color: #f91942;
        box-shadow: 0 0 0 #ef2840;
        @extend %flashing;
    }
}

//
// loading skeleton
// see https://github.com/zalog/placeholder-loading
//

// Importing the Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// iFood styles
@import "./assets/scss/vendor/ifood/Ifood";

// Animation custom
@import "./assets/scss/utilities/Animations";

.food-card .food-card__wrapper {
    animation: 300ms MovingFadeIn;
}

